<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajout de note</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <meta name="robots" content="noindex, nofollow">

</head>
<body>
    <header>
        <nav>
            <ul>
              <li class="accueil"><a href="/">Toutes les notes</a></li>
              <% for(var i = 0; i < all_zones.length; i++){ %>
                <li><a href="/zone/<%= all_zones[i].id  %>"><%= all_zones[i].name %></a></li>
              <% } %>
              <li class="delete"><a href="notes/deleteall">Tout Supprimer</a></li>
            </ul>
          </nav>
    </header>
    
    <% if(note.id == -1) { %>
        <h2>Ajouter une note à <%= zone.name %></h2>
    <% } else { %>
        <h2>Modifier une note</h2>
    <% } %>
    <form action="/notes/new" method="POST">
        Note : 
        <input type="text" name="description" value="<%= note.description %>"><br>
        <input type="hidden" name="bz_id" value="<%= note.bz_id %>" >
        <input type="hidden" name="note_id" value="<%= note.id %>">
        <button class="btn" type="submit">Sauver</button><br>
    </form>
</body>
</html>