<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier la note</title>
</head>
<body>
<h2>Modifier la note</h2>
<h3>Cliquez sur la note pour modifier</h3>
</br>
    <form action="/zone/<%= zone.id %>/:note_id/mod" method="POST">
        Note : 
        <input type="text" name="description" value="<% notes.forEach(note => { %>
            <%= note.description %>    <% }); %>"><br>
        <input type="hidden" name="bz_id" value="<%= zone.id %>" >
        <input type="hidden" name="note_id" value="<%= notes.id %>" > 
        <input type="submit" name="sauver" value="Sauver"></br>
    </form>
<a href="/zone/<%= zone.id %>/add">Retour à la liste des notes</a> </br>
<a href="/">Retour à la liste des bodyzones</a>
</body>
</html>